<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="{{time_interval}}">
<title>Testing</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 75%; height: 85%; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() { 
	var chart = {
	  zoomType: 'x,y',
	  pinchType: 'x,y'
	};   
	var title = {
	  text: 'Testing'   
	};
	var subtitle = {
	  //text: document.ontouchstart === undefined ?
		//	'Click and drag in the plot area to zoom in' :
		//	'Pinch the chart to zoom in'
	  text: 'Click and drag in the plot area to zoom in' 
	};
	var xAxis = {
	  type: 'datetime',
	  minRange: 30 * 60 * 1000 , //14 * 24 * 60 * 60 * 1000 //14
	  gridLineWidth: 1
	};
	var yAxis = {
	  title: {
		 text: 'int'
	  }
	};
	var plotOptions = {
	  spline: {
		 dataLabels: {
			enabled: true
		 },   
		 enableMouseTracking: false
	  }
	};
	var series= [{
	name: 'Temperature(*10)',
 		 pointInterval: {{time_interval}} * 1000,
          pointStart: Date.UTC{{date_time}},
 		 data: {{temp}}
       }, {
          name: 'Humidity(*10)',
 		 pointInterval: {{time_interval}} * 1000,
 		 pointStart: Date.UTC{{date_time}},
          data: {{humidity}}
       }, {
          name: 'Light Resistance',
 		 pointInterval: {{time_interval}} * 1000,
 		 pointStart: Date.UTC{{date_time}},
          data: {{light_resist}}
       }
	];

	var json = {};

	json.chart = chart;
	json.title = title;
	json.subtitle = subtitle;
	json.xAxis = xAxis;
	json.yAxis = yAxis;  
	json.series = series;
	json.plotOptions = plotOptions;
	$('#container').highcharts(json);

});
</script>
<div align = "center">
	<div style='display: inline-block'>
		<form name='start' action="{{url_for('start_timer')}}">
			<input type="submit" value="Start">
		</form>
	</div>
	<div style='display: inline-block'>
		<form name='stop' action="{{url_for('stop_timer')}}">
			<input type="submit" value="Stop">
		</form>
	</div>
</div>
</body>
</html>