<html>
<head>
<meta charset="UTF-8" />
<title>Testing</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {   
   var title = {
      text: 'Testing'   
   };
   var subtitle = {
      text: 'arduino'
   };
   var xAxis = {
      type: 'datetime',
      minRange: 24*{{time_interval}} // 24 *3600*1000 = 1 day
   };
   var yAxis = {
      title: {
         text: 'int'
      }
   };
   var plotOptions = {
      line: {
         dataLabels: {
            enabled: true
         },   
         enableMouseTracking: false
      }
   };
   var series= [{
         name: 'temperature',
		 pointInterval: {{time_interval}},
         data: {{temp}}
      }, {
         name: 'humidity',
		 pointInterval: {{time_interval}},
         data: {{humidity}}
      }, {
         name: 'light_resist',
		 pointInterval: {{time_interval}},
         data: {{light_resist}}
      }
   ];
   
   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;
   $('#container').highcharts(json);
  
});
</script>
</body>
</html>