<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="{{time_interval}}">
<title>Testing</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 75%; height: 85%; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {   
   var title = {
      text: 'Testing'   
   };
   var subtitle = {
      text: 'arduino'
   };
   var xAxis = {
      type: 'datetime'
   };
   var yAxis = {
      title: {
         text: 'int'
      }
   };
   var plotOptions = {
      spline: {
         dataLabels: {
            enabled: true
         },   
         enableMouseTracking: false
      }
   };
   var series= [{
         name: 'Temperature(*10)',
		 data: [
				{% for i  in temperature %}
					[Date.UTC{{ i[0] }}, {{ i[1] }}]
					{% if not temperature.last %},{% endif %}
				{% endfor %}
		]
      }, {
         name: 'Humidity(*10)',
		 data: [
				{% for i  in humidity %}
					[Date.UTC{{ i[0] }}, {{ i[1] }}]
					{% if not humidity.last %},{% endif %}
				{% endfor %}
		]
      }, {
         name: 'Light Resistance',
         data: [
				{% for i  in light_resist %}
					[Date.UTC{{ i[0] }}, {{ i[1] }}]
					{% if not light_resist.last %},{% endif %}
				{% endfor %}
		]
      }
   ];
   
   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;
   $('#container').highcharts(json);
  
});
</script>
</body>
</html>